@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<style>

.user_list {
  display: inline-block;
  background-color: #f5f5f5;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}

.user_list:hover {
  background-color: #ddd;
}


</style>

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="UserList" class="user_list">Список користувачів</a>