@model IEnumerable<CounterWeb.Models.UserCourse>

    <title>Відповіді</title>
    @{
        CounterDbContext context = ViewBag.context;
    }
    <div class="container mt-5">
        <h1 class="text-center mb-4">Готові відповіді</h1>
            <ul class="list-group">
                @foreach(var p in Model)
                {

            User user = context.Users.Where(b => b.UserId == p.UserId).FirstOrDefault();
            <a asp-action="Details" asp-route-id="@p.UserCourseId" class="list-group-item list-group-item-action">@user.FirstName  @user.LastName</a>            
                }
            </ul>
    </div>
